.recherche {
    width: 100%;
}

.search-card {
    background: #111;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.search-card h3 {
    color: white;
    margin-top: 0;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.search-box input {
width: 75%;
flex: none;
    padding: 12px;
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.search-box button {
    width: auto;
    padding: 12px 18px;
    margin-top: 0;
    border: none;
    border-radius: 8px;
    background: #8a0fe0;
    color: white;
    font-size: 18px;
}

.group-found {
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}